div(class="row no-gutters fill-remaining")
	div(class="d-flex flex-column no-gutters")
		div(class="correct-size", style="position: relative; overflow: hidden;")
			canvas(id="webgl", class="correct-size")
			i(id="canvas-trash", class="material-icons md-36") delete_outline
		div(class="submenu d-flex flex-row")
			div
				img(src="media/head.png")
			div(class="ml-auto hover-click no-select-icon", data-toggle="modal", data-target="#character-select-modal")
				i(class="material-icons md-36", style="text-align: center; vertical-align: middle;") add_circle_outline
		div(class="d-flex pt-1 pl-1 pr-1 pb-0 flex-grow-1")
			canvas(id="graph")
			pre(id="codeText", style="display: none;")
	div(id="workspace-area", class="col")
		div(id="workspace")

	//- Character select modal
	include modals.pug
</div>